# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

dist/heatmaps/
dist/flights.json
dist/traces.json

# Generated data
archive/
data/

# uv
uv.lock

# wrangler
.wrangler/

archive.log

.env